
/**
Main page css
*/

.box{
    padding: 2rem;
    border: 1px solid whitesmoke;
    background-color:  black;
    color: whitesmoke;
    border-radius: 10px;
}

.photo {
    height: 100px;
    width: 100px; 
}

.header{
    height: auto;
    width: 700px; 
}
.App{
    background-color: black;
    background-size: 100%;
  
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    
}

.MainPageImage{
    width: 100%;
    height: 500px;
    background-image: url("./header2.jpg");
    background-position: 60% 25%;
    background-size: cover;
}

.Button{
    height: 50px;
    width: 80px;
    
}
.button2{
    position: absolute;
    right: 2px;
}
.button3{
    position: absolute;
   
}

.lan{
    width: 100%;
}
.choose{
    color: black;
}

/**
Search Page css
*/

.Search{
    height: 100%;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.SearchPageImage{
    width: 100%;
    height: 700px;
    background-image: url("./header1.jpg");
    background-position: 60% 35%;
    background-size: cover;
}
.SearchBackGround{
    background-color: black;
    background-size: 100%;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.SearchHeader{
    height: auto;
    width: 700px; 
}

.SearchResult{
    font: bolder;
    color:blanchedalmond;
    display: 'flex';
    align-items: 'center';
    justify-content: 'center'
}

.Background {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0,0);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}


.ModalWrapper {
    width: 800px;
    height: 500px;
    box-shadow: 0 5px 16px rgba(0,0,0,0.2);
    background: #fff;
    color :#000;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    z-index: 10;
    border-radius: 10px;
}

.ModalContent {
    display : flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    line-height:1.8;
    color:#141414;
}


.modal-wrapper {
    position: fixed;
    top:0;
    bottom: 0;
    left:0;
    right:0;
}

.modal-backdrop {
    position: fixed;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    z-index:100;
    background-color:(0,0,0,0.3)
}

.modal-box {
    position: relative;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    height: 70%;
    width: 60%;
    overflow-y: auto;
    background-color: white;
    
    z-index: 101;
    padding: 40px;
}